<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>jaz2servletdemo</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>jaz2servletdemo.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>jaz2servletdemo.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>jaz2servletdemo.web.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>jaz2servletdemo.web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PromoteServlet</display-name>
    <servlet-name>PromoteServlet</servlet-name>
    <servlet-class>jaz2servletdemo.web.PromoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromoteServlet</servlet-name>
    <url-pattern>/PromoteServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PromoteFilter</display-name>
    <filter-name>PromoteFilter</filter-name>
    <filter-class>jaz2servletdemo.web.PromoteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PromoteFilter</filter-name>
    <url-pattern>/PromoteFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>RegisterFilter</display-name>
    <filter-name>RegisterFilter</filter-name>
    <filter-class>jaz2servletdemo.web.RegisterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegisterFilter</filter-name>
    <url-pattern>/RegisterFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PasswordFilter</display-name>
    <filter-name>PasswordFilter</filter-name>
    <filter-class>jaz2servletdemo.web.PasswordFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PasswordFilter</filter-name>
    <url-pattern>/PasswordFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MakeAdmin</display-name>
    <servlet-name>MakeAdmin</servlet-name>
    <servlet-class>jaz2servletdemo.web.MakeAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeAdmin</servlet-name>
    <url-pattern>/MakeAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PremiumAccessServlet</display-name>
    <servlet-name>PremiumAccessServlet</servlet-name>
    <servlet-class>jaz2servletdemo.web.PremiumAccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PremiumAccessServlet</servlet-name>
    <url-pattern>/PremiumAccessServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PremiumAccessFilter</display-name>
    <filter-name>PremiumAccessFilter</filter-name>
    <filter-class>jaz2servletdemo.web.PremiumAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PremiumAccessFilter</filter-name>
    <url-pattern>/PremiumAccessFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ProfileFilter</display-name>
    <filter-name>ProfileFilter</filter-name>
    <filter-class>jaz2servletdemo.web.ProfileFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProfileFilter</filter-name>
    <url-pattern>/ProfileFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PremiumFormFilter</display-name>
    <filter-name>PremiumFormFilter</filter-name>
    <filter-class>jaz2servletdemo.web.PremiumFormFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PremiumFormFilter</filter-name>
    <url-pattern>/PremiumFormFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>UserAccessFilter</display-name>
    <filter-name>UserAccessFilter</filter-name>
    <filter-class>jaz2servletdemo.web.UserAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserAccessFilter</filter-name>
    <url-pattern>/UserAccessFilter</url-pattern>
  </filter-mapping>
</web-app>